* {
  font-family: "Exo 2";
  font-family: "PT Sans";
}

.container {
  max-width: 1242px;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}

.background-imgs {
  width: 100%;
  display: flex;
  gap: 0px;
  margin-top: 67px;
}

.background-content {
  width: 769px;
  height: 453.5px;
  z-index: 20;
  opacity: 0px;
  background-image: url(/images/png/Rectangle\8 -min.png);
}

.background-truck {
  width: 100%;
  height: 453.5px;
  margin-left: -750px;
  background-image: url(/images/png/Rectangle7-min.png);
}

.background-content h1 {
  font-family: "Exo 2";
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  color: #FFFFFF;
  margin-top: -320px;
  margin-left: 90px;
}

.card__lock {
  display: flex;
}
.card__lock h3 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  margin-left: 40px;
  color: #363738;
}
.card__lock p {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6B6B6C;
  margin-left: 40px;
}

.card__lock img {
  margin-left: 66px;
}

.card__money {
  display: flex;
}
.card__money h3 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  margin-left: 40px;
  color: #363738;
}
.card__money p {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6B6B6C;
  margin-left: 40px;
}

.card__table {
  display: flex;
}
.card__table h3 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  margin-left: 40px;
  color: #363738;
}
.card__table p {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6B6B6C;
  margin-left: 40px;
}

.card__money img {
  margin-left: 66px;
}

.card__local {
  display: flex;
}
.card__local h3 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  margin-left: 40px;
  color: #363738;
}
.card__local p {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6B6B6C;
  margin-left: 40px;
}

.cards {
  display: flex;
  gap: 250px;
  margin-top: 72px;
}

.works--h1 {
  font-family: "Exo 2";
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  color: #363738;
}

.works--p {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6B6B6C;
}

.works {
  display: flex;
  margin-top: 57px;
  gap: 30px;
  margin-bottom: 212px;
}

.work__mashines {
  width: 393px;
  height: 439px;
  gap: 0px;
  border-radius: 10px;
  opacity: 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.work__mashines h2 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  color: #363738;
  margin-left: 32px;
}
.work__mashines p {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6B6B6C;
  margin-left: 32px;
}
.work__mashines strong {
  margin-left: 32px;
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
  width: 86px;
  border-bottom: 3px solid #FFCE50;
}

.work__components {
  width: 393px;
  height: 439px;
  gap: 0px;
  border-radius: 10px;
  opacity: 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.work__components h2 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  color: #363738;
  margin-left: 32px;
}
.work__components p {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6B6B6C;
  margin-left: 32px;
}
.work__components strong {
  margin-left: 32px;
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
  width: 86px;
  border-bottom: 3px solid #FFCE50;
}

.work__boat {
  width: 393px;
  height: 439px;
  gap: 0px;
  border-radius: 10px;
  opacity: 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.work__boat h2 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  color: #363738;
  margin-left: 32px;
}
.work__boat p {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6B6B6C;
  margin-left: 32px;
}
.work__boat strong {
  margin-left: 32px;
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
  width: 86px;
  border-bottom: 3px solid #FFCE50;
}

.background__table {
  width: 100%;
  height: 917px;
  background-color: #0B7572;
}
.background__table h1 {
  font-family: "Exo 2";
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  color: #FFFFFF;
  padding-top: 100px;
  margin-left: 81px;
}

table {
  width: 652px;
  height: 747px;
  background-image: url(/images/png/Rectangle5-min.png);
  margin-left: 521px;
  background-position: center top;
}

.etaps-h1 {
  font-family: "Exo 2";
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  color: #363738;
  margin-top: 120px;
}

.etap_card1 {
  display: flex;
  width: 1183px;
  height: 245px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 49px;
  margin-top: 48px;
}
.etap_card1 h2 {
  padding-top: 32px;
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  color: #363738;
  border-bottom: 3px solid #FFCE50;
}
.etap_card1 p {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6B6B6C;
}
.etap_card1 img {
  padding: 32px 56px 32px 96px;
}

.etap_card2 {
  display: flex;
  width: 1183px;
  height: 245px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 49px;
  margin-top: 48px;
}
.etap_card2 h2 {
  padding-top: 32px;
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  color: #363738;
  border-bottom: 3px solid #FFCE50;
}
.etap_card2 p {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6B6B6C;
}
.etap_card2 img {
  padding: 32px 56px 32px 96px;
}

.etap_card3 {
  display: flex;
  width: 1183px;
  height: 245px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 49px;
  margin-top: 48px;
}
.etap_card3 h2 {
  padding-top: 32px;
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  color: #363738;
  border-bottom: 3px solid #FFCE50;
}
.etap_card3 p {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6B6B6C;
}
.etap_card3 img {
  padding: 32px 56px 32px 96px;
}

.compania--h1 {
  font-family: "Exo 2";
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  color: #363738;
  margin-top: 120px;
}

.block h2 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  color: #363738;
}

.block p {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #6B6B6C;
}

.block1 {
  margin-left: 46px;
  margin-right: 73px;
}

.block2 {
  margin-left: 60px;
  margin-right: 73px;
}

.block3 {
  margin-left: 67px;
  margin-right: 67px;
}

.block4 {
  margin-left: 49px;
}

.href {
  height: 183px;
  gap: 0px;
  border: 1px solid #D7D7DD;
  opacity: 0px;
}

.block5 {
  margin-left: 53px;
  margin-right: 88px;
}

.block6 {
  margin-left: 70px;
  margin-right: 74px;
}
.block6 img {
  margin-left: 55px;
}

.block7 {
  margin-left: 68px;
  margin-right: 77px;
}
.block7 img {
  margin-left: 55px;
}

.block8 {
  margin-left: 71px;
  margin-right: 78px;
}

.block__element {
  margin-top: 50px;
}

.user--h1 {
  font-family: "Exo 2";
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  color: #363738;
}

.user {
  display: flex;
  align-items: center;
  width: 605px;
  height: 210px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  gap: 0px;
  border-radius: 10px;
  opacity: 0px;
  border-left: 51px solid #0B7572;
}
.user h2 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #363738;
}
.user p {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #6B6B6C;
}
.user img {
  padding-top: 20px;
  padding-left: 32px;
  padding-right: 40px;
  cursor: pointer;
}

.block__users {
  display: flex;
  margin-top: 24px;
  gap: 30px;
}

.header__section {
  display: flex;
  align-items: center;
}

.header__section-content h1 {
  font-family: "Exo 2";
  font-size: 52px;
  font-weight: 600;
  line-height: 65px;
  color: #363738;
}

.header__section-content p {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6B6B6C;
  margin-top: 40px;
  margin-bottom: 40px;
}

.header__section-content h2 {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #363738;
  width: 104px;
  border-bottom: 3px solid #FFCE50;
}

.header__cards {
  display: flex;
  width: 1240px;
  height: 341px;
  margin-top: 67px;
  gap: 0px;
  border-radius: 20px;
  border: 1px;
  opacity: 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hr {
  height: 261px;
  border-right: 1px solid #D7D7DD;
  margin-top: -280px;
  margin-left: 410px;
}

.header__cards-card-first h3 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  color: #363738;
  padding-left: 80px;
}

.header__cards-card-first p {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6B6B6C;
  padding-left: 80px;
}

.header__cards-card-first img {
  padding-left: 80px;
  padding-top: 40px;
}

.header__cards-card-second h3 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  color: #363738;
  margin-left: 64px;
}

.header__cards-card-second p {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6B6B6C;
  margin-left: 64px;
}

.header__cards-card-second img {
  padding-left: 64px;
  padding-top: 40px;
}

.header__cards-card-three h3 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  color: #363738;
  margin-left: 64px;
}

.header__cards-card-three p {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6B6B6C;
  margin-left: 64px;
}

.header__cards-card-three img {
  padding-left: 64px;
  padding-top: 40px;
}/*# sourceMappingURL=style.css.map */