* {
    font-family: 'Exo 2';
    font-family: 'PT Sans';
}

.container {
    max-width: 1242px;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
}

$Exo2: 'Exo 2';
$PTsans: 'PT Sans';